# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Read and Get Basic Data Info

In [2]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
data.shape

(60943, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
data.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

# Exploration

## How many unique countries

In [9]:
data.head(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [10]:
len(data['Area'].unique())

49

## Groupby element

In [11]:
data[['Element','Y2014', 'Y2015', 'Y2016', 'Y2017']].groupby('Element').sum().loc['Stock Variation']

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Name: Stock Variation, dtype: float64

2014 has highest sum of Stock Variation 58,749.83

In [12]:
data[['Element', 'Y2017']].groupby('Element').sum().loc['Processing']

Y2017    292836.0
Name: Processing, dtype: float64

Sum of Processing in 2017 is 292,836.00

## Wine Produced in 2015 and 2018

In [13]:
data[['Item', 'Y2015', 'Y2018']].groupby('Item').sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

## Mean and std of 2017

In [14]:
print(f"Mean is :{data['Y2017'].mean():.2f}, Standard Deviation is: {data['Y2017'].std():.2f}")

Mean is :140.92, Standard Deviation is: 1671.86

## Correlation with Element Code

In [15]:
data[['Element Code','Y2014', 'Y2015', 'Y2016', 'Y2017']].corr()

              Element Code     Y2014     Y2015     Y2016     Y2017
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000

2016 has the least correlation with Element Code

## Groupby Area

### Seventh lowest

In [16]:
data[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017', ascending=True).iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

### Highest

In [17]:
data[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017', ascending=True).iloc[-1]

Y2017    1483268.23
Name: Nigeria, dtype: float64

# Missing Values in 2017

In [18]:
print(f"Number of missing values in 2017: {data['Y2017'].isna().sum()}")
print(f"Missing values as a percentage of total values: {round(((data['Y2017'].isna().sum()) / len(data['Y2017']) * 100), 3)}%")

Number of missing values in 2017: 1506
Missing values as a percentage of total values: 2.471%

## Madascar Protein Supply Quantity in 2015

In [19]:
mad_data = data[data['Area']=='Madagascar']
mad_data[['Element', 'Y2015']].groupby('Element').sum().loc['Protein supply quantity (g/capita/day)']

Y2015    173.05
Name: Protein supply quantity (g/capita/day), dtype: float64

Protein supply quantity (g/capita/day) 	173.05